      /* Default size for desktop */
* {
    box-sizing:border-box;
    border: 0;
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
  }
.container-login{
    height: 100vh;
    display:flex;
  }
.cont-img{
    max-width: 50%;
    width:50%;
    background-image: url('../images/login-image.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
 .logo{
  width: 300px;
  height: 300px;
}
.container-right{
  width:50%;
  max-width:50%;
  background-color:#fff;
  display:flex;
  align-items: center;

}
.login-right{
  padding:3rem;

}
.login-right svg{
  margin-bottom: 3rem;
}
h1{
  font-size:3rem;
}

.botao{
  display:flex;
  align-items: center;
  justify-content: center;
}

.erro {
  border-color: #f00;
}


@media(max-width:600px){
  .cont-img{
    display:none;
    visibility: hidden;
  }
  .login-right{
    height:100vh;
  }
  .login-right svg{
    margin-bottom:0px;
  }
  .container-right{
    max-width: 100%;
    width:100%;
  }
  .navbar-nav li a {
    display: none;
  }

  .navbar-nav li a i {
    display: inline;
  }

}
@media (max-width: 768px) {
  .logo{
    width: 200px;
    height: 200px;
  }
  .modal{
    padding-right:0px !important;
  }
  .modal-backdrop{
    background-color: #fff;
  }

}