{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unico">
	<div class="inicio">
		<h5 style="font-weight: 800;">Reply</h5>
	</div>
	<div class="inicio2" style="display:flex; flex-direction: row;padding:1.3rem; border-bottom: solid #D8D8D8 1.2rem;">
		{% if user.is_authenticated %}
		<div class="tweet-img-position ">
			<div class="circle circle-2">
				{% if user.profile.profile_image %}
				<img src="{{ user.profile.profile_image.url }}" alt="{{user.username}}" class="imagem">
				{% else %}
				<img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle imagem" alt="Profile Pic">
				{% endif %}
			</div>
		</div>
		{% endif %}

		<form method="POST" class="custom-form" style="display:flex;flex-direction: column;width: 100%;">
			{% csrf_token %}
			{{ reply_form.as_p }}
			<button type="submit" class="btn rounded-pill"
				style="color:#fff; background-color:#1ba3f3;align-self: flex-end;">Reply</button>
		</form>

	</div>

	<div class="mensagem-geral m-0">

		<div class="tweet-img-position ">
			<div class="circle circle-2">
				{% if mensagem.user.profile.profile_image %}
				<img src="{{ mensagem.user.profile.profile_image.url }}" alt="{{mensagem.user.username}}"
					class="imagem">
				{% else %}
				<img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle imagem" alt="Profile Pic">
				{% endif %}
			</div>

		</div>
		<div class="text-position ">
			<p class="fw-bold d-inline">{{mensagem.user.username}}</p>
			<small class="text-muted text-lowercase d-inline ">
				@{{mensagem.user.username}} {{mensagem.created_at}}
			</small><br />
			{{mensagem.body}}
			<div class="tweet-foot">
				<small class="text-muted" style="display:flex;flex-direction:row;align-items: center;">
					{{mensagem.number_likes}}
					{% if user in mensagem.likes.all %}
					<a href="{% url 'twitter_like' mensagem.id %}" style="padding: 5px;">
						<i class="fa-solid fa-heart" style="color: #ef1c5c;"></i>
					</a>
					{% else %}
					<a href="{% url 'twitter_like' mensagem.id %}" style="padding: 5px;">
						<i class="fa-regular fa-heart" style="color: #687684;"></i>
					</a>
					{% endif %}

				</small>
			</div>
		</div>

	</div>

	{% for reply in mensagem.replies.all %}
	<div class="mensagem-geral m-0">
		<div class="tweet-img-position ">
			<div class="circle circle-2">
				{% if reply.user.profile.profile_image %}
				<img src="{{ reply.user.profile.profile_image.url }}" alt="{{ reply.user.username}}" class="imagem">
				{% else %}
				<img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle imagem" alt="Profile Pic">
				{% endif %}
			</div>

		</div>
		<div class="text-position ">
			{{reply|safe}}
			<div class="tweet-foot">
				<small class="text-muted" style="display:flex;flex-direction:row;align-items: center;">
					{{reply.number_likes}}
					{% if user in reply.likes.all %}
					<a href="{% url 'twitter_like' reply.id %}" style="padding: 5px;">
						<i class="fa-solid fa-heart" style="color: #ef1c5c;"></i>
					</a>
					{% else %}
					<a href="{% url 'twitter_like' reply.id %}" style="padding: 5px;">
						<i class="fa-regular fa-heart" style="color: #687684;"></i>
					</a>
					{% endif %}
				</small>
			</div>
		</div>

	</div>
	{% endfor %}

</div>
{% endblock %}